.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden{
  display: none !important;
}

.MuiFormControl-marginNormal {
    margin-top: 8px !important;
}

#fixed_movable .MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1{
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

.inlineBlock{
  display: inline-block;
}

.pippette_cursor{
  cursor: url('/pipette-icon-png-30.png'), auto;
}